.card-dictionary {
    position: relative;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow: visible;
}

.card-dictionary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 10;
}

.dropdown-menu {
    z-index: 1050; /* больше, чем у карточек */
}

.dropdown-menu.show {
    display: block;
    position: absolute;
}
