.navbar {
    position: relative; /* чтобы содержимое вытесняло нижний контент */
    z-index: auto; /* снимаем "поверх" */
}

.navbar a {
    color: #d4a373;
}

.navbar-brand {
    font-size: 28px !important;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    font-size: 24px !important;
}

.auth {
    text-decoration: none;
    color: #d4a373;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease-in-out;
}

.navbar-collapse {
    position: relative !important;
    z-index: auto;
    background-color: transparent;
}


.auth:hover {
    text-decoration-line: underline;
    text-decoration-color: currentColor;
}

@media (max-width: 991.99px) {
    .navbar-collapse .navbar-nav {
        align-items: flex-start;
    }

    .navbar-collapse .nav-item {
        display: flex;
        align-items: center;
        padding-top: 8.5px;
    }
}
